cycler==0.10.0
joblib==0.16.0
kiwisolver==1.2.0
lxml==4.5.2
matplotlib==3.3.0
nest-asyncio==1.4.0
numpy==1.19.1
pandas==1.1.0
Pillow==7.2.0
py==1.9.0
pyparsing==2.4.7
pyshark==0.4.2.11
python-dateutil==2.8.1
python-magic==0.4.18
pytz==2020.1
scikit-learn==0.23.1
scipy==1.5.2
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tqdm==4.48.0
